@model WebBanCaPhe.Models.DanhMuc

@{
    ViewBag.Title = "SuaDanhMuc";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>SuaDanhMuc</h2>

<form action="~/DanhMuc/SuaDanhMuc/@Model.MaDanhMuc" method="post">
    <div class="row">
        <input type="hidden" class="form-control" id="formrow-taikhoan-input" name="MaDanhMuc" value="@Model.MaDanhMuc" required>
        <div class="col-md-6">
            <div class="form-group">
                <label for="formrow-password-input">Họ tên</label>
                <input type="text" class="form-control" id="formrow-hoten-input" name="TenDanhMuc" value="@Model.TenDanhMuc" required>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="formrow-password-input">Url_friendly</label>
            <input type="text" class="form-control" id="formrow-hoten-input" name="Url_friendly" value="@Model.Url_friendly" required>
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-primary w-md">Sửa</button>
    </div>
</form>


